<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>
      <%= flight.title %> 
      <a href="/flights/<%= flight._id %>/edit">
        <button class="btn">Edit Flight</button>
      </a>
    </div>
    <div>Airline: </div>
    <div><%= flight.airline %></div>

    <div>Airport: </div>
    <div><%= flight.airport %></div>

    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>

    <div>Departs: </div>
    <div><%= flight.departs %></div>
  </section>

</section>


<section>
<% if (flight.tickets) { %>
  <h1>Tickets:</h1>
    <% flight.tickets.forEach(ticket => { %>
        <p><%= ticket.seat %></p>
        <p><%= ticket.price %></p>
      
    <% }) %>
<% } else { %>
<h3>No Tickets Yet</h3>
<% } %>


<h2>Add a Tickets</h2>

<form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">

  <label for="seat-input">Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">

  <label for="price-input">Price:</label>
  <input type="number" name="price" id="price-input">

  <button class="btn" type="submit">Add Ticket</button>
</section>
</form>

<section>
  <h2>Current Meals:</h2>
    <% flight.meal.forEach(meal => { %>
      <p><%= meal.meal %></p>
    <% }) %>
	
<%# add to meal form below this comment %>
<form id="add-meal" action="/flights/<%= flight._id %>/meals" method="POST">
  
  <select name="mealId">
    <% meals.forEach(meal => { %>
      <option value="<%= meal._id %>"><%= meal.meal %></option>
    <% }) %>

  </select>
  <button class="btn" type="submit">Add Meal</button>

</section>

</form>

</main>
  
<%- include('../partials/footer') %>